<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.creator2.mapper.UserMapper">
    <select id="getUserId" resultType="int" parameterType="String">
          select uid from user where openid=#{openid}
    </select>
</mapper>